@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 70vh;
    gap: 1vw;
    border: 0.2vw solid white;
    border-radius: 3vw;
    background-color: rgb(72, 94, 119);
    @include mobile {
        height: 80vh;
        justify-content: start;
        gap: 1vh;
    }
}
