.form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vw;
    gap: 1vw;
    border: 0.2vw solid white;
    border-radius: 3vw;
    background-color: rgb(72, 94, 119);
    z-index: 3;
}

.link{
    all: unset;
}
