@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
.dashMain{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1vw;
    @include mobile {
        gap: 5vh;
        justify-content: center;
    }
}
.form{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    z-index: 3;
    gap: 2vw;
    @include mobile {
        flex-direction: column;
        width: 75vw;
        gap: 2vh;
    }
    & >span{
        color: red;
        font-size: 2vw;
        @include mobile {
            font-size: 2.5vw;
        }
    }
}

.formSection, .insertTransactionSection{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid white;
    background-color: rgb(72, 94, 119);
    border-radius: 15%;
    box-shadow: 0vw 0vw 3vw 0.5vw rgb(96, 114, 134);
    z-index: 6;
}

.formSection{
    flex-direction: column;
    padding: 5vw;
    gap: 2vw;
    width: max-content;
    height: max-content;
    top: -5vw;
    
    @include mobile {
        gap: 2vh;
        top: -10vh;
    }
}

.insertTransactionSection{
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    padding: 5vw;
    gap: 5vw;
    & > form{
        flex-direction: column;
        align-items: start;
        align-self: start;
    }

    @include mobile {
        width: 75vw;
        gap: 3vh;
        & > form{
            align-items: center;
            gap: 3vw;
            
        }
    }
}

.formSubSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    & > span{
        color: red;
        font-size: 2vw;
        @include mobile {
            font-size: 2vh;
        }
    }
    @include mobile {
        flex-direction: column;
        gap: 1vw;
    }
}

.error{
    position: absolute;
    padding: 0;
    margin: 0;
} 

.pieChart{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60vw;
    height: 30vw;
    @include mobile {
        width: 60vw;
        height: 60vw;
    }
}

.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    gap: 3vw;
    width: 100%;
    height: max-content;
    @include mobile {
        flex-direction: column;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}

.transactionItem{
    display: flex;
    gap: 4vw;
    @include mobile {
        flex-direction: column;
        gap: 0;
        padding: 2vw;
    }
}