*{
    margin: 0;
    padding: 0;
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}


body{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
}

header{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    gap: 2vw;
    padding-bottom: 5vw;
    padding-top: 3vw;
    margin: 0;
     @include mobile {
        flex-direction: column;
        gap: 1vh;
    }
}

main{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    width: 90vw;
    height: 80vh;
    border: 0.2vw solid white;
    border-radius: 3vw;
    background-color: rgb(72, 94, 119);
    @include mobile {
        flex-wrap: wrap;
        height: 80vh;
        width: 75vw;
        gap: 3vh;
    }
}

h1, h2, h3, h4, p{
    color: white;
}

h1{
    font-size: 3vw;
    width:max-content;
    @include mobile {
        font-size: 3vh;
        margin-top: 1vh;
    }
}

h2{
    font-size: 2vw;
    @include mobile {
        font-size: 2vh;
    }
}

h3{
    font-size: 2vw;
    transition: transform 0.5s ease, color 0.5s ease;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: red;
    }
    @include mobile {
        font-size: 2.5vh;
    }
}

h4{
    font-size: 1.5vw;
    @include mobile {
        font-size: 2.5vh;
    }
}

label{
    color: white;
    font-size: 1vw;
}
input{
    all: unset;
    width: 15vw;
    height: 1vw;
    color: white;
    padding: 1vw;
    padding-left: 2vw;
    border-radius: 2vw;
    box-shadow: inset -0.2vw 0.2vw 1vw 0vw rgb(49, 49, 49);
    transition: transform ease 0.5s;
    &:focus{
        transform: scale(1.2);
    }
    @include mobile {
        width: 30vw;
        height: 2.5vh;
        border-radius: 2vh;
    }
}

button{
    all: unset;
    display: flex;
    width: max-content;
    padding: 0vw;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    border-bottom: 0.2vw solid white;
    border-radius: 1vw;
    &:hover{
        transform: scale(1.2);
    }
    &> h3{
        padding: 0;
        margin: 0;
    }
    @include mobile {
        width: max-content;
        padding: 1vh;
        border-radius: 2vh;
    }
}

.fintracker{
    position: absolute;
    top: -5vw;
    background-image: url('../assets/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    @include mobile {
        top: auto;
        bottom: 5vh;
        width: 20vw;
        height: 20vw;
    }
}

.errors{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 35vw;
    padding: 2vw;
}
.errors > h5{
    color: red;
    font-weight: 800;
    font-style: italic;
    font-size: 1.8vw;
    @include mobile {
        font-size: 1.5vh;
    }
}


.buttonContainer, .inputContainer{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content:space-between;
    width: 30vw;
    margin-top: 1vw;

    @include mobile {
        flex-direction: column;
        width: 50vw;
        margin-top: 2vh;
    }
}

.effectContainer{
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(41, 35, 41);
    overflow: hidden;
    z-index: 0;
}

.effectContainer span{
    position: absolute;
    width: 1vw;
    height: 1vw;
    opacity: 0;
    left: var(--x);
    background:radial-gradient(white 0%, rgb(55, 0, 255) 60%);
    border-radius: 50%;
    box-shadow: 0 0 1vw 1vw rgba(0, 4, 255, 0.541);
    animation: sparkles calc(10/var(--i) * 1s) linear infinite;
    animation-delay: var(--delay);
    z-index: 0;
}

.overlay{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 5;
}  

@keyframes sparkles {
    0%{
        transform: translateY(110vh) translateX(0);
        opacity: var((--opacityX));
    }
    100%{
        transform: translateY(0vh) translateX(var(--move-x)) scale(var(--scale));
    }
}