*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    background-color: rgb(95, 91, 91);
}

h1, h2, h3, h4, p{
    color: white;
}

h1{
    font-size: 3vw;
    padding-bottom: 2vw;
    width:max-content;
}

h3{
    font-size: 2vw;
    transition: transform 0.5s ease, color 0.5s ease;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: red;
    }
}

h4{
    font-size: 1.5vw;
}

label{
    color: white;
    font-size: 1vw;
}
input{
    all: unset;
    width: 15vw;
    height: 1vw;
    color: white;
    padding: 1vw;
    padding-left: 2vw;
    border-radius: 2vw;
    box-shadow: inset -0.2vw 0.2vw 1vw 0vw rgb(49, 49, 49);
    transition: transform ease 0.5s;
    &:focus{
        transform: scale(1.2);
    }
}

button{
    all: unset;
    display: flex;
    width: 10vw;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    border-bottom: 0.2vw solid white;
    border-radius: 1vw;
    &:hover{
        transform: scale(1.2);
    }
    &> h3{
        padding: 0;
        margin: 0;
    }
}

.fintracker{
    position: absolute;
    top: -7.5vw;
    background-image: url('../assets/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.errors{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 35vw;
    padding: 2vw;
}
.errors > h5{
    color: red;
    font-weight: 800;
    font-style: italic;
    font-size: 1.8vw;
}


.buttonContainer, .inputContainer{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content:space-between;
    width: 30vw;
}

.effectContainer{
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 35, 41);
    overflow: hidden;
    z-index: 0;
}

.effectContainer span{
    position: absolute;
    width: 1vw;
    height: 1vw;
    opacity: 0;
    left: var(--x);
    background:radial-gradient(white 0%, rgb(55, 0, 255) 60%);
    border-radius: 50%;
    box-shadow: 0 0 1vw 1vw rgba(0, 4, 255, 0.541);
    animation: sparkles calc(10/var(--i) * 1s) linear infinite;
    animation-delay: var(--delay);
    z-index: 0;
}

@keyframes sparkles {
    0%{
        transform: translateY(110vh) translateX(0);
        opacity: var((--opacityX));
    }
    100%{
        transform: translateY(0vh) translateX(var(--move-x)) scale(var(--scale));
    }
}