*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}
h1{
    font-size: 3vw;
    padding: 3vw;
}
h1, h2, h3, h4, p{
    color: white;
}